<div id="aboutpage">
	<div class="title"> About Us </div>

	<div id="gallery">
		<div class="row">
			<a href="/assets/about_01.jpg" rel="prettyPhoto[gallery]" title="Tobacco House and Gifts"><img src="/assets/about_01small.jpg" width="250px;" /></a>
			<a href="/assets/about_02.jpg" rel="prettyPhoto[gallery]" title="Tobacco House and Gifts"><img src="/assets/about_02small.jpg" width="250px;" /></a>
			<a href="/assets/about_03.jpg" rel="prettyPhoto[gallery]" title="Tobacco House and Gifts"><img src="/assets/about_03small.jpg" width="250px;" /></a>
		</div>
		<div class="row">
			<a href="/assets/about_04.jpg" rel="prettyPhoto[gallery]" title="Tobacco House and Gifts"><img src="/assets/about_04small.jpg" width="250px;" /></a>
			<a href="/assets/about_05.jpg" rel="prettyPhoto[gallery]" title="Tobacco House and Gifts"><img src="/assets/about_05small.jpg" width="250px;" /></a>
			<a href="/assets/about_06.jpg" rel="prettyPhoto[gallery]" title="Tobacco House and Gifts"><img src="/assets/about_06small.jpg" width="250px;" /></a>
		</div>
		<div class="row3">
			<a href="/assets/about_07.jpg" rel="prettyPhoto[gallery]" title="Tobacco House and Gifts"><img src="/assets/about_07small.jpg" width="140px;" /></a>
			<a href="/assets/about_08.jpg" rel="prettyPhoto[gallery]" title="Tobacco House and Gifts"><img src="/assets/about_08small.jpg" width="140px;" /></a>
			<a href="/assets/about_09.jpg" rel="prettyPhoto[gallery]" title="Tobacco House and Gifts"><img src="/assets/about_09small.jpg" width="140px;" /></a>
		</div>				
	</div>

	<script type="text/javascript" charset="utf-8">
	  $(document).ready(function(){
	    $("a[rel^='prettyPhoto']").prettyPhoto({
	    	social_tools:false,
	    	theme: 'pp_default'});
	  });
	</script>
</div>