<div id="aboutpage">
	<div class="title"> About Us </div>

	<div id="gallery">
		<a href="/assets/slider_01.jpg" rel="prettyPhoto[gallery]" title="Tobacco House and Gifts"><img src="/assets/slider_01.jpg" width="200px;" /></a>
	</div>

	<script type="text/javascript" charset="utf-8">
	  $(document).ready(function(){
	    $("a[rel^='prettyPhoto']").prettyPhoto({
	    	social_tools:false,
	    	theme: 'pp_default'});
	  });
	</script>
</div>