<div id="indexpage">
	<div id="slider">

	</div>
	<div class="boxgrp">
		<a href="welcome/products"><div class="boxlinkl">Products</div></a>
		<a href="#"><div class="boxlinkl">Pipes</div></a>
		<a href="#"><div class="boxlinkr">Extras</div></a>
	</div>
</div>