<div id="indexpage">
	<div id="slider">

	</div>
	<div class="boxgrp">
		<a href="#"><div class="boxlinkl">Cigars</div></a>
		<a href="#"><div class="boxlinkl">Pipes</div></a>
		<a href="#"><div class="boxlinkr">Extras</div></a>
	</div>
</div>