<div id="indexpage">
	<div id="wrap">
		<div id='slider' class='swipe'>
		  <div class='swipe-wrap'>
		    <div id="slider1"></div>
		    <div id="slider2"></div>
		    <div id="slider3"></div>
		    <div id="slider4"></div>
		  </div>
		</div>
	</div>
</div>