// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#indexpage {
	position: absolute;
	width: 100%;
	left: 0;
	top: 125px;

	#slider {
		position: absolute;
		left:0;
		width: 100%;
		height: 600px;
		margin-bottom: 600px;
		border-bottom: 3px solid #cacaca;
		background-color: #aaa;
		opacity: .6;
	}

	.boxgrp {
		position: relative;
		top: 675px;
		margin-left: auto;
		margin-right: auto;
		width: 960px;
		height: 100px;
		opacity: .65;
		font-family: 'Open Sans', sans-serif;
		font-size:2em;
		font-weight: 700;
		font-style: italic;
		text-align: center;
		text-decoration: none;

		.boxlinkl {
			width: 220px;
			padding-top: 25px;
			height: 75px;
			background: #52300C;
			float:left;
			margin-right: 150px;
			color: #fff;
		}

		.boxlinkr {
			width: 200px;
			height: 75px;
			padding-top: 25px;
			background: #52300C;
			float:right;
			color: #fff;
		}		
	}
}

#aboutpage {
	width: 960px;
	padding-top: 20px;
	height: 700px;
	background: #52300C;
	opacity: .8;

	.title {
		color: #F7E300;
		font-size: 2.5em;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-align: center;
	}
}

#contactpage {
	width: 960px;
	padding-top: 20px;
	height: 700px;
	background: #52300C;
	opacity: .8;

	.title {
		color: #F7E300;
		font-size: 2.5em;
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		text-align: center;
	}
}